/* All site */
section {
	margin: 0 0 50px 0 ;
}
div, h1, p {
	font-family: 'Alice', serif;
}
h1 {
	font-size: 42px;
}
.border_radius-left {
	border-radius: 5px 0px 0px 5px;
}
.border_radius-right {
	border-radius: 0px 5px 5px 0px;
}
/* Header */
.topo {
	background-color: #269BFF;
}
.topo p {
	color: #fff;
}
.nav-item a {
	color:#fff;
}
.bg-navbar {
	background-color:#17222D;
}
/* Section 1 */
.banner {
	height: 400px;
	background-image: url(/static/img/surf1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.btn-form {
	background-color: #EE2211;
}
/* Section 2 */
.content {
	width: 100%;
	height: 370px;
	background-image: url(/static/img/surf2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.map_image {
	margin-bottom: -40px;
}
.como_chegar h4 p{
	font-size: 14px;
}
.destaque_text {
	color: #269BFF;
}
.aulas_text_p {
	color: #445566;
	;
	font-size: 18px;
}
@media (min-width: 576px) { 
	
}

@media (min-width: 768px) { 
	h1 {
		font-size: 72px;
	}
	
}
@media (min-width: 992px) { 
	.content {
		height: 670px;
	}
}
@media (min-width: 1200px) { 

}
@media (min-width: 1400px) { 

}